/*-----font google-----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
body{
    background-image: url(./Images/back.png);
    background-size: 1540px 1000px;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0, 100% 91%, 24% 100%, 94%, 0 0);
}
:root{
    --main-color: aqua;
    --second-color: white;
    --text-color: black;
    --bg-color: white;
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-thumb{
    background: transparent;
}
html::-webkit-scrollbar-track{
    background: var(--bg-colorr);
    border-radius: 5rem;
}
img{
    width: 100%;
}
.btn{
    padding: 0.7rem 1.2rem;
    background: var(--bg-color);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86%, 99%, 0% 100%, 7% 47%, 13% 0);
}
.btn:hover{
    background: var(--text-color);
    letter-spacing: 2px;
    transition: 0.2s;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s linear;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 20%);
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
    font: 1rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2.4rem ;
    
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 10px;
}
.navbar a:hover{
    color: var(--main-color);
}

.header-icons {
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
}

#menu-icons{
    display: none;
    text-align: right;
}

.search-box{
    position: absolute;
    top: 110%;
    right: -100%;
}
.search-box input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--box-shadow);
}
.search-box.active{
    right: 1rem;
    transform: 0.2s;
}



/* Cart Box */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding-left: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.2s;
}
.cart.active{
    right: 0;
    
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;

}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
#cart-size{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 5rem;
    position: relative;
    right: 140px;
    top: 32px;
    font-size: 1rem;
    
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
    position: absolute;
    left: 320px;
}
.total{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--text-color);
    margin-top: 1.5rem;
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
#close-cart{
    position: absolute;
   top: 1rem;
    right: 20rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
/*-- User Box-- */
.user{
    position: absolute;
    right: -100%;
    top: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.user h2{
    font-size: 1.2rem;
    color: var(--text-color);

}
.user .login-btn{
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.user .login-btn:hover{
    background: var(--text-color);
}
.user input{
    border: none;
    outline: none;
    background: var(--second-color);
    padding: 10px;
    border-radius: 0.5rem;
    width: 100%;
}
.user p{
    font-size: 0.938rem;
}
.user a{
    text-decoration: underline;
    color: var(--main-color);
}
.user.active{
    right: 1rem;
    transition: 0.2s;
}

/* Content */
.bigcontent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    margin: 0 auto;
}
.content{
    width: 35%;
}
.heading{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.heading i{
    color: var(--main-color);
}
.description{
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: 300;
}
.btn-goshop{
    padding: 10px 20px;
    background: var(--main-color);
    border-radius: 20px;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s all ease-in;
}
.btn-goshop a{
    color: var(--bg-color);
    font-weight: 400;
}
.btn-goshop:hover{
    transform: scale(1.1);

}
.product-img{
    width: 550px;
    transform: rotate(-8deg);
    height: auto;
    position: relative;
    top: -50px;
}

.varians{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 150px;
    bottom: 10px;
    z-index: 99999999;
}
.varian{
    width: 90px;
    height: 110px;
    margin: 0px 10px;
    transition: 0.2s all ease-in;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.varian img{
    width: 100%;
    height: 100%;
}
.varian:hover{
    position: relative;
    top: -20px;
    transition: 0.2 ease-in;
}
.varian.active{
    position: relative;
    top: -20px;
    animation: activeProduct ease-in-out infinite 0.8s;
}
@keyframes activeProduct {
    0%{
        top: -20px;
    }
    50% {
        top: -15px;
    }
    100% {
        top: -20px;
    }
}

@media (max-width : 1024px) {
    .content{
        width: 50%;
    }
    .product-img{
        width: 400px;
        transform: rotate(-20deg);
        height: auto;
        position: relative;
        top: -50px;
    }
    .bigcontent{
        margin-top: 80px;
        padding: 20px;
    }
}
@media (max-width : 997px) and (min-width : 769px) {
    .content{
        width: 50%;
    }
    .product-img{
        width: 400px;
        transform: rotate(-20deg);
        height: auto;
        position: relative;
        top: -50px;
    }
    .bigcontent{
        margin-top: 80px;
        padding: 20px;
    }
}
@media (max-width : 768px) and (min-width : 300px) {
    .content{
        width: 95%;
        position: relative;
        bottom: 270px;
    }
    .product-img{
        width: 450px;
        transform: rotate(-20deg);
        height: auto;
        position: relative;
        top: -170px;
    }
    .bigcontent{
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
    }
    .header-icons{
        display: flex;
    }
    #menu-icons{
        display: inherit;
        padding-left: 0.1em;
    }
    header .navbar{
        position: absolute;
        width: 240px;
        height: 100vh;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.2s linear;
    }
    .navbar.active{
        right: 0;
    }
    .varian{
        position: relative;
        right: 50px;
    }
}

/*BUY BUT */
.truck-button {
    --color: #fff;
    --background: #2B3044;
    --tick: #16BF78;
    --base: #0D0F18;
    --wheel: #2B3044;
    --wheel-inner: #646B8C;
    --wheel-dot: #fff;
    --back: #6D58FF;
    --back-inner: #362A89;
    --back-inner-shadow: #2D246B;
    --front: #A6ACCD;
    --front-shadow: #535A79;
    --front-light: #FFF8B1;
    --window: #2B3044;
    --window-shadow: #404660;
    --street: #646B8C;
    --street-fill: #404660;
    --box: #DCB97A;
    --box-shadow: #B89B66;
    padding: 12px 0;
    width: 172px;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    color: var(--color);
    background: var(--background);
    border-radius: var(--br, 5px);
    -webkit-tap-highlight-color: transparent;
    transform-style: preserve-3d;
    transform: rotateX(var(--rx, 0deg)) translateZ(0);
    transition: transform 0.5s, border-radius 0.3s linear var(--br-d, 0s);
    position: relative;
    left: 5rem;
    top: 1rem;
  }
  .truck-button:before, .truck-button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 6px;
    display: block;
    background: var(--b, var(--street));
    transform-origin: 0 100%;
    transform: rotateX(90deg) scaleX(var(--sy, 1));
  }
  .truck-button:after {
    --sy: var(--progress, 0);
    --b: var(--street-fill);
  }
  .truck-button .default,
  .truck-button .success {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    opacity: var(--o, 1);
    transition: opacity 0.3s;
  }
  .truck-button .success {
    --o: 0;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
  }
  .truck-button .success svg {
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 4px;
    stroke: var(--tick);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--offset, 16px);
    transition: stroke-dashoffset 0.4s ease 0.45s;
  }
  .truck-button .truck {
    position: absolute;
    width: 72px;
    height: 28px;
    transform: rotateX(90deg) translate3d(var(--truck-x, 4px), calc(var(--truck-y-n, -26) * 1px), 12px);
  }
  .truck-button .truck:before, .truck-button .truck:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: var(--l, 18px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: inset 0 0 0 2px var(--wheel), inset 0 0 0 4px var(--wheel-inner);
    background: var(--wheel-dot);
    transform: translateY(calc(var(--truck-y) * -1px)) translateZ(0);
  }
  .truck-button .truck:after {
    --l: 54px;
  }
  .truck-button .truck .wheel,
  .truck-button .truck .wheel:before {
    position: absolute;
    bottom: var(--b, -6px);
    left: var(--l, 6px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--wheel);
    transform: translateZ(0);
  }
  .truck-button .truck .wheel {
    transform: translateY(calc(var(--truck-y) * -1px)) translateZ(0);
  }
  .truck-button .truck .wheel:before {
    --l: 35px;
    --b: 0;
    content: "";
  }
  .truck-button .truck .front,
  .truck-button .truck .back,
  .truck-button .truck .box {
    position: absolute;
  }
  .truck-button .truck .back {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 47px;
    height: 28px;
    border-radius: 1px 1px 0 0;
    background: linear-gradient(68deg, var(--back-inner) 0%, var(--back-inner) 22%, var(--back-inner-shadow) 22.1%, var(--back-inner-shadow) 100%);
  }
  .truck-button .truck .back:before, .truck-button .truck .back:after {
    content: "";
    position: absolute;
  }
  .truck-button .truck .back:before {
    left: 11px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 0 1px 0 0;
    background: var(--back);
  }
  .truck-button .truck .back:after {
    border-radius: 1px;
    width: 73px;
    height: 2px;
    left: -1px;
    bottom: -2px;
    background: var(--base);
  }
  .truck-button .truck .front {
    left: 47px;
    bottom: -1px;
    height: 22px;
    width: 24px;
    -webkit-clip-path: polygon(55% 0, 72% 44%, 100% 58%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(55% 0, 72% 44%, 100% 58%, 100% 100%, 0 100%, 0 0);
    background: linear-gradient(84deg, var(--front-shadow) 0%, var(--front-shadow) 10%, var(--front) 12%, var(--front) 100%);
  }
  .truck-button .truck .front:before, .truck-button .truck .front:after {
    content: "";
    position: absolute;
  }
  .truck-button .truck .front:before {
    width: 7px;
    height: 8px;
    background: #fff;
    left: 7px;
    top: 2px;
    -webkit-clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);
    background: linear-gradient(59deg, var(--window) 0%, var(--window) 57%, var(--window-shadow) 55%, var(--window-shadow) 100%);
  }
  .truck-button .truck .front:after {
    width: 3px;
    height: 2px;
    right: 0;
    bottom: 3px;
    background: var(--front-light);
  }
  .truck-button .truck .box {
    width: 13px;
    height: 13px;
    right: 56px;
    bottom: 0;
    z-index: 1;
    border-radius: 1px;
    overflow: hidden;
    transform: translate(calc(var(--box-x, -24) * 1px), calc(var(--box-y, -6) * 1px)) scale(var(--box-s, 0.5));
    opacity: var(--box-o, 0);
    background: linear-gradient(68deg, var(--box) 0%, var(--box) 50%, var(--box-shadow) 50.2%, var(--box-shadow) 100%);
    background-size: 250% 100%;
    background-position-x: calc(var(--bx, 0) * 1%);
  }
  .truck-button .truck .box:before, .truck-button .truck .box:after {
    content: "";
    position: absolute;
  }
  .truck-button .truck .box:before {
    content: "";
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    right: 0;
    top: 6px;
    height: 1px;
  }
  .truck-button .truck .box:after {
    width: 6px;
    left: 100%;
    top: 0;
    bottom: 0;
    background: var(--back);
    transform: translateX(calc(var(--hx, 0) * 1px));
  }
  .truck-button.animation {
    --rx: -90deg;
    --br: 0;
  }
  .truck-button.animation .default {
    --o: 0;
  }
  .truck-button.animation.done {
    --rx: 0deg;
    --br: 5px;
    --br-d: .2s;
  }
  .truck-button.animation.done .success {
    --o: 1;
    --offset: 0;
  }


  